<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watched</title>
    <style>
        .has-bg-img {
            background: url(/../images/background_4.jpg)center center;
            background-size: cover;
        }
    </style>
    <link rel = "stylesheet" src = "/css/watched.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>

<body>
    <section class="hero is-dark is-fullheight has-bg-img">
        <div class="hero-head">
            <nav class="navbar is-transparent">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href=home.html>
                            <h1 class="title">MSQUARE STREAMING</h1>
                        </a>
                    </div>
                    <div class="navbar-menu">
                        <div class="navbar-end">
                            <div class="navbar-item is-hoverable has-dropdown">
                                <a class="navbar-link">
                                View
                              </a>

                                <div class="navbar-dropdown has-background-info-dark">
                                    <a href="moviesList.html" class="navbar-item">
                                          To-Watch Movies
                                    </a>
                                    <a href="sereisList.html" class="navbar-item">
                                      To-Watch Series
                                    </a>
                                    <a class="navbar-item" href="watchedMovieList.html">
                                        Watched Movies
                                    </a>
                                    <a class="navbar-item" href="watchedSeriesList.html">
                                        Watched Series
                                    </a>
                                    <a class="navbar-item" href="movieReviews.html">
                                        Movie Reviews
                                    </a>
                                    <a class="navbar-item" href="seriesReviews.html">
                                        Series Reviews
                                    </a>
                                </div>
                            </div>
                            <div class="navbar-item is-hoverable has-dropdown">
                                <a class="navbar-link">
                                Add
                              </a>

                                <div class="navbar-dropdown has-background-info-dark">
                                    <a href="home.html#addMovie" class="navbar-item">
                                          To-Watch List
                                    </a>
                                    <a href="home.html#addSeries" class="navbar-item">
                                      Watched List
                                    </a>
                                </div>
                            </div>
                            <span class="navbar-item has-text-white">
                                <a class="button is-danger is-inverted" href="index.html">
                                    <span>Logout</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <form class="box" id= "searchForm" action="/add/watched" method="POST">
                        <div class="field">
                            <label class="label">Select type</label>
                            <div class="control is-expanded">
                                <div class="select">
                                    <select name = "type" class="is-hovered" id="type" onchange="changeSeason()">
                                    <option value="Series">Series</option>
                                    <option value="Movie">Movie</option>
                                  </select>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="field is-grouped">
                            <p class="control is-expanded">
                                <input class="input" type="text" placeholder="Find" id="searches" required>
                            </p>
                            <p class="control">
                                <a class="button is-info" id = "search" onclick="getmovies()">
                                Search
                              </a>
                            </p>
                        </div>
                        <div class="field">
                            <label class="label">Seasons</label>
                            <p class="control is-expanded">
                                <input class="input" type="text" name="seasons" id="seasons" required>
                            </p>
                        </div>
                        <div class="field">
                            <label class="label">Rating</label>
                            <div class="control is-expanded">
                                <div class="select">
                                    <select class="is-hovered" id="rating" name = "rating" required>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                  </select>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Review</label>
                            <div class="control is-expanded">
                                <textarea class="textarea is-hovered" placeholder="Review here...." id= "review" name = "review"></textarea>
                            </div>
                        </div>
                        <div class="field is-grouped is-grouped-right">
                            <p class="control">
                                <input type="submit" class="button is-info" value="Submit">
                            </p>
                            <p class="control">
                                <input type="reset" class="button is-danger" value="Cancel">
                            </p>
                        </div>
                        <div class="container" id="containers">
                            <div id ="row">
                                <ul id="movies-series">
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </section>
    <script>

        function changeSeason() {
            var type =  document.getElementById("type").value;
            if (type == "Movie") {
                document.getElementById("seasons").disabled = true;
            }
    
            else {
                document.getElementById("seasons").disabled = false;
            }
        }
    
    </script>
</body>
<script src = "/js/main.js"></script>
</html>
