<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MSquare Streaming</title>
    <style>
        .has-bg-img {
            background: url(/../images/web_shadow_glare_dark_49402_1920x1080.jpg)center center;
            background-size: cover;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

</head>

<body id="searchesMovie" onload="viewWatchedSeries()">
    <section class="hero is-dark is-fullheight has-bg-img">
        <div class="hero-head">
            <nav class="navbar is-transparent">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href=home.html>
                            <h1 class="title">MSQUARE STREAMING</h1>
                        </a>
                    </div>
                    <div class="navbar-menu">
                        <div class="navbar-end">
                            <div class="navbar-item is-hoverable has-dropdown">
                                <a class="navbar-link">
                                View
                              </a>

                                <div class="navbar-dropdown has-background-info-dark">
                                    <a href="moviesList.html" class="navbar-item">
                                          To-Watch Movies
                                    </a>
                                    <a href="sereisList.html" class="navbar-item">
                                      To-Watch Series
                                    </a>
                                    <a href = "watchedMovieList.html"class="navbar-item">
                                        Watched Movies
                                    </a>
                                    <a class="navbar-item" href="watchedSeriesList.html"> 
                                        Watched Series
                                    </a>
                                    <a class="navbar-item" href="movieReviews.html">
                                        Movie Reviews
                                    </a>
                                    <a class="navbar-item" href="seriesReviews.html">
                                        Series Reviews
                                    </a>
                                </div>
                            </div>
                            <div class="navbar-item is-hoverable has-dropdown">
                                <a class="navbar-link">
                                Add
                              </a>

                                <div class="navbar-dropdown has-background-info-dark">
                                    <a href="home.html" class="navbar-item">
                                          To-Watch List
                                    </a>
                                    <a href="watched.html" class="navbar-item">
                                      Watched List
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero-body">
            <table class="table is-striped is-hoverable is-fullwidth" id = "table" >
                <thead>
                <tr>
                  <th><abbr title="S No.">Serial No.</abbr></th>
                  <th>Title</th>
                  <th>Genre</th>
                  <th>Seasons</th>
                  <th>Date</th>
                </tr>
                </thead>
                <tbody id = "movies">

                </tbody>
            </table>
                
        </div>
    </section>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
<script src="/js/view.js"></script>

</html>
